<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Teknikåttan</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-sanitize.js"></script>
  <script src="js/ng-file-upload/ng-file-upload-shim.js"></script> <!-- for no html5 browsers support -->
  <script src="js/ng-file-upload/ng-file-upload.js"></script>
  <script src="js/ui-bootstrap-tpls-2.5.0.min.js"></script>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
  <script src="js/tinymce.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <link href="css/reset.css" rel="stylesheet" type="text/css">
  <link href="css/main.css" rel="stylesheet" type="text/css">
  <script src="js/t8.js"></script>
</head>
<body ng-app="t8" ng-controller="questionCtrl">
  <article class="answer">
    <header>
      <h1 ng-show="state != 'end' && state != 'start'">{{index()}}. {{currQuestion.title}}</h1>
      <img src="images/logo.png"/>
    </header>
    <img src="images/lock.png" id="lock" />
    <main ng-show="state == 'start'">
      <h1>Välkomna till regionfinal!</h1>
      <h2>Stort lycka till nu!</h2>
    </main>
    <main ng-show="state == 'end'">
      <h1>Tack för er medverkan!</h1>
    </main>
    <main ng-show="currQuestion.type == 'hints'">
      <ol>
        <li ng-repeat="hint in currQuestion.hints track by $index">
          <label>Ledtråd {{$index + 1}}: <input type="text" ng-model="answer[$index]" style="width: 25em;" /></label>
        </li>
      </ol>
    </main>
    <main ng-show="currQuestion.type == 'truefalse'">
      <table id="truefalse">
        <tr>
          <td id="true" ng-click="answer[statementIndex] = true" ng-class="{'marked': answer[statementIndex] === true}">Sant</td>
          <td id="false" ng-click="answer[statementIndex] = false" ng-class="{'marked': answer[statementIndex] === false}">Falskt</td>
        </tr>
      </table>
    </main>
    <main ng-show="currQuestion.type == 'normal'">
      <div ng-show="currQuestion.answer.type == 'practical'">
        <p>Här får ni lägga undan paddan och jobba praktiskt.</p>
      </div>
      <div ng-show="currQuestion.answer.type == 'multi'">
        <ol type='a'>
          <li ng-repeat="sq in currQuestion.answer.subQuestions track by $index">
            <label ng-if="sq.type == 'text'">Svar: <input type="text" ng-model="answer[$index]" /></label>
            <label ng-if="sq.type == 'number'">Svar: <input type="number" ng-model="answer[$index]" /></label>
            <section ng-if="sq.type == 'select'">
              <label>Välj en av följande: </label>
              <label class="choice" ng-repeat="alt in sq.alternatives">
                <input type="radio" ng-model="answer[$parent.$index]" name="choice{{$index}}" ng-value="alt">
                <span class="checkmark">{{alt}}</span>
              </label>
            </section>
          </li>
        </ol>
      </div>
      <div ng-show="currQuestion.answer.type == 'pairing'">
        <p>Para ihop ord med ord.</p>
      </div>
    </main>
  </article>
</body>
</html>
