<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Teknikåttan</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-sanitize.js"></script>
  <script src="js/ng-file-upload/ng-file-upload-shim.js"></script> <!-- for no html5 browsers support -->
  <script src="js/ng-file-upload/ng-file-upload.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
  <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=b64t93vwkjvchfm40w8k1z2p3ie3bj2b6li8fne5w3if12b2"></script>
  <script src="js/tinymce.min.js"></script>
  <link href="css/reset.css" rel="stylesheet" type="text/css">
  <link href="css/main.css" rel="stylesheet" type="text/css">
  <script src="js/t8.js"></script>  
</head>
<body ng-app="t8" ng-controller="questionCtrl">
  <competitor question="currQuestion" slide="currSlide"></competitor>
</body>
</html>
