<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Teknikåttan</title>
  <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
  <link href='css/reset.css' rel='stylesheet' type='text/css'>
  <link href='css/main.css' rel='stylesheet' type='text/css'>
</head>
<body>

  <div id="editor">
    <h1>Välkomna till <input type="text" value="Regionfinal" />!</h1>
    <h2>Lycka till!</h2>
    <section id="add-slide">
      <h1>Lägg till en ny: </h1>
      <ul>
        <li id="add-question"><i class="fas fa-plus-circle"></i> Fråga</li>
        <li id="add-info"><i class="fas fa-plus-circle"></i> Informationsslide</li>
        <li id="add-timer"><i class="fas fa-plus-circle"></i> Tidtagningsslide</li>
        <li id="add-answer"><i class="fas fa-plus-circle"></i> Svarsslide</li>
      </ul>
    </section>
  </div>

  <table id="timeline">
    <tr id="projector">
      <td>bild 1</td>
      <td>bild 2</td>
      <td>bild 3</td>
      <td>bild 4</td>
      <td>bild 5</td>
      <td>bild 6</td>
      <td>bild 7</td>
      <td>bild 8</td>
      <td>bild 9</td>
      <td>bild 10</td>
      <td>bild 11</td>
      <td>bild 12</td>
      <td>bild 13</td>
    </tr>
    <tr id="participants">
      <td>skärm 1</td>
      <td>skärm 2</td>
      <td>skärm 3</td>
      <td>skärm 4</td>
      <td>skärm 5</td>
      <td>skärm 6</td>
      <td>skärm 7</td>
      <td>skärm 8</td>
      <td>skärm 9</td>
      <td>skärm 10</td>
      <td>skärm 11</td>
      <td>skärm 12</td>
      <td>skärm 13</td>
    </tr>
  </table>
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
  <script src="js/editor.js"></script>
</body>
</html>
