<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Teknikåttan</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-sanitize.js"></script>
  <script src="js/ng-file-upload/ng-file-upload-shim.js"></script> <!-- for no html5 browsers support -->
  <script src="js/ng-file-upload/ng-file-upload.js"></script>
  <script src="js/ui-bootstrap-tpls-2.5.0.min.js"></script>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
  <script src="js/tinymce.min.js"></script>
  <link href="css/reset.css" rel="stylesheet" type="text/css">
  <link href="css/main.css" rel="stylesheet" type="text/css">
  <script src="js/t8.js"></script>
</head>
<body ng-app="t8" ng-controller="editorCtrl">
  <div id="editor">
    <section>
      <projector question="currQuestion" slide="currSlide" editable="currSlide?editOptions:false"></projector>
      <form>
        <h3>Frågetyp:</h3>
        <label><input type="radio" ng-disabled="!currSlide" ng-model="currQuestion.type" value="hints"> Ledtrådar</label><br>
        <label><input type="radio" ng-disabled="!currSlide" ng-model="currQuestion.type" value="truefalse"> Sant / Falskt</label><br>
        <label><input type="radio" ng-disabled="!currSlide" ng-model="currQuestion.type" value="normal"> Övriga</label><br>
        <button ng-show="currQuestion.type == 'normal'" ng-disabled="!currSlide" type="button" class="btn btn-default" ng-click="open()">Konfigurera svar</button>
        <button type="button" class="btn btn-default" ng-click="save()">Spara allt</button>
        <a href="/competitions" target="_self" class="btn btn-default" ng-click="back()">Tillbaka</a>
      </form>
      <competitor question="currQuestion" slide="currSlide" editable="currSlide?editOptions:false"></competitor>
    </section>
    
    <section id="add-slide">
      <h1>Lägg till: </h1>
      <ul>
        <li id="add-question" ng-click="addQuestion()">Ny fråga</li>
        <li id="add-info" ng-show="currSlide" ng-click="addSlide()">Extra slide</li>
        <li id="add-answer" ng-click="addSeparateSlide()" ng-show="false">Lös slide</li>
      </ul>
    </section>
  </div>
  
  <ol id="timeline">
    <li ng-repeat="q in questions">
      <ol>
        <li ng-repeat="s in q.slides">
          <i class="fas fa-trash-alt remove-slide" ng-click="removeSlide(q,s)"></i>
          <projector slide="s" question="q" ng-click="changeSlide(q,s)"></projector>
          <competitor slide="s" question="q" ng-click="changeSlide(q,s)"></competitor>
        </li>
      </ol>
    </li>
  </ol>

</body>
</html>
