html, body, body > div{
    font-family: "Verdana", sans-serif;
    height: 100%;
}
a {
    cursor: pointer;
}
h1{
    font-size: 2em;
    font-weight: bold;
    padding: 0.2em 0em;
}
.result table {
    font-size: 2.7em;
}

.result .highlight{
    background-color: #1E90FF;
}
.audience h2{
    font-size: 2em;
    padding-left: 1em;
    padding-top: 1em;
}
input{
    font-size: inherit;
}
input[type=text]{
    width: 12em;
}
input[type=number]{
    width: 4em;
}
#editor{
    width: 100%;
    height: 60%;
    position: relative;
}
#add-slide {
    box-sizing: border-box;
    height: 100%;
    width: 7%;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 10% 0% 0% 0%;
}
#add-slide > h1{
    font-size: 1vw;
    vertical-align: middle;
    text-align: left;
}

#add-slide li{
    font-size: 1vw;
    padding: 5% 0px;
    color: #0066bb;
}

#add-slide li:hover {
    cursor: pointer;
    font-weight: bold;
}

#timeline {
    width: 100%;
    height: 40%;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

#timeline > li, #timeline > li > ol > li{
    display: table-cell;
    position: relative;
}

.remove-slide{
    position: absolute;
    right: 0.6vw;
    top: 0.2vw;
    cursor: pointer;
    z-index: 99;
    font-size: 1.8vw;
    background-color: white;
    padding: 0.2vw;
}

.remove-slide:hover{
    color: red;
}


#editor > section > form{
    float: left;
    margin: 2vw 0vw;
    width: 9%;
}

article{
    background-image: url('/images/background.jpg');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 70%;
    font-family: "Verdana", sans-serif;
    font-size: 0.8vw;
    position: relative;
    height: 100%;
    width: 100%;
}

#editor article{
    font-size: 0.3vw;
    border: 2px solid black;
    width: 40vw;
    height: 22.5vw;
    margin: 2vw 1vw;
    float: left;
}
#timeline article{
    font-size: 0.12vw;
    border: 1px solid black;
    width: 16vw;
    height: 9vw;
    margin: 0.1vw 0.4vw;
}
article p{
    margin-bottom: 1em;
    line-height: 115%;
}
article h2{
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 1em;
}

article h3{
    font-weight: bold;
}
article main li, article aside li{
    margin-bottom: 0.8em;
    list-style: disc inside;
}
article.answer li{
    list-style: none;
}

article th, article td{
    text-align: center;
    padding: 0.5em;
    border: 0.1em solid black;
    vertical-align: middle;
}
article table .left{
    text-align: left;
}

article > header{
    clear: both;
    padding: 1%;
}
article > header > h1{
    float: right;
    font-size: 4em;
    margin: 0px;
}
article > header > img{
    height: 9em;
}
article > main{
    box-sizing: border-box;
    padding-left: 2em;
    height: 75%;
}
article > main > div{
    height: 100%;
}
.competitor > main{
    font-size: 1.2em;
    width: 50%;
    float: left;
}


.competitor > main > img{
    max-height: 30%;
    max-width: 25em;
    padding-bottom: 2%;
}
.competitor > main > div{
    height: 67%;
}
article > aside{
    box-sizing: border-box;
    padding-left: 2em;
    font-size: 1.2em;
    height: 75%;
    width: 50%;
    float: left;
}
.hint{
    margin-bottom: 1em;
    list-style: none;
}
.statement{
    display: block;
    padding-top: 10%;
}
time#counter{
    background-color: black;
    color: white;
    font-family: 'Orbitron', sans-serif;
    line-height: 100vh;
    font-size: 25vw;
    font-weight: bold;
    text-align: center;
    display: block;
}

.competitor .statement, .competitor .hint{
    font-size: 2em;
}
article > footer{
    clear: both;
    padding: 1%;
    position: absolute;
    bottom: 0px;
    width: 100%;
}
article > footer label{
    font-weight: bold;
}
article > footer > input[type=checkbox]{
    float: left;
}
article > footer > time{
    float: left;
    font-family: 'Orbitron', sans-serif;
    font-size: 3.8em;
    font-weight: bold;
    width: 4em;
}
article > footer > section{
    float: left;
}

.projector figure {
    float: right;
    padding: 0px 1%;
    width: 25%;
    height: 30%;
    margin-top: -3%;
}
.projector figure.titleimage{
    float: none;
    width: 100%;
    height: 60%;
    margin-top: 0px;
    position: absolute; /* To place it above the main block after this image */
}
.projector figure > img{
    max-height: 100%;
    max-width: 100%;
    float: right;
}
.projector figure.titleimage > img{
    float: none;
    position: absolute;
    top: 50%; /* To center in absolute positioned parent */
    left: 50%;
    transform: translate(-50%, -50%);
}
.projector > main{
    font-size: 2.5em;
    width: 95%;
}



/** Answer screen **/
.answer > main{
    font-size: 3em;
}

.answer li{
    margin-bottom: 1em;
}

#truefalse{
    width: 100%;
    height: 100%;
}
#truefalse td{
    width: 50%;
    text-align: center;
    vertical-align: middle;
    font-size: 4em;
}
#true{
    background-color: darkgreen;
    color: lightgreen;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#false{
    background-color: darkred;
    color: pink;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.marked{
    text-decoration: underline;
    font-weight: bold;
}


/* The container */
.choice {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: 22px;
    margin-top: 2px;
}

/* Hide the browser's default radio button */
.choice input {
    display: none;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    background-color: #eee;
    padding: 0.5em;
    display: block;
}

/* On mouse-over, add a grey background color */
.choice:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.choice input:checked ~ .checkmark {
    background-color: #2196F3;
}
.checkmark img{
    width: 5em;
}

.judge main img, .audience main img, .analytics main img{
    width: 5em;
}


#selectables div{
    margin: 5px;
}
.selectable{
    float: left;
    padding: 4px;
    border: 3px solid black;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#pairing{
    width: 100%;
}
#pairing td{
    width: 50%;
    padding: 2px;
}
#pairing img{
    display: block;
}
#pairing td div{
    padding: 0px;
}


#lock{
    width: 400px;
    z-index: 90;
    transform: translate(0%,-50%);
    position: absolute;
    right: 0px;
    top: 50%;
}
.hintinput:disabled {
    background: url(/images/lock-icon.png) no-repeat scroll 3px 3px;
    background-size: 0.7em;
    padding-left: 60px;
}

.management th {
    border-bottom: 1px solid black;
}
.management tr:hover {
    background-color: #f5f5f5;
}
.management tfoot td{
    border-top: 1px solid black;
    padding-top: 1em;
}
.management {
    padding: 2em;
}
.management input:focus{
    outline: none;
}
.management input, .management select {
    background-color: transparent;
    border: 0px solid;
/*    height: 20px;
    width: 160px;*/
}
.management table{
    margin-bottom: 2em;
}
.management ul{
    list-style: disc;
    padding-left: 40px;
}
.management li{
    margin-bottom: 0.5em;
}
.management figure{
    float: left;
}
.management img{
    height: 200px;
    margin: 10px;
}
.management video{
    height: 200px;
    margin: 10px;
}

.change-slide-button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

.change-slide-button:disabled{
    background-color: #dddddd;
    color: black;
    cursor: not-allowed;
}
.change-slide-button.timer-color{
    background-color: #c3c322;
}

button#prev{
    position: fixed;
    left: 2%;
    top: 50%;
}
button#next{
    position: fixed;
    right: 2%;
    top: 50%;
}


#currProj article, #currComp article{
    font-size: 0.3vw;    
}
#prevProj article, #nextProj article, #prevComp article, #nextComp article{
    font-size: 0.15vw;
}
#currProj, #currComp{
    position: fixed;
    left: 50%;
    width: 40vw;
    height: 22.5vw;
    transform: translate(-50%, -50%);
    border: 2px solid black;
}


#prevProj, #nextProj, #prevComp, #nextComp{
    position: fixed;
    width: 20vw;
    height: 11.25vw;
    transform: translate(0%, -50%);
    border: 1px solid black;
}
#currProj{
    top: 25%;
}
#currComp{
    top: 75%;
}

#prevProj{
    left: 5%;
    top: 25%;
}
#nextProj{
    right: 5%;
    top: 25%;
}
#prevComp{
    left: 5%;
    top: 75%;
}
#nextComp{
    right: 5%;
    top: 75%;
}



#neweditor form h3{
    display: inline;
}
#neweditor form ul{
    display: inline-block;
}
#neweditor form li{
    float: left;
}
#neweditor form{
    text-align: center;
}
#neweditor article{
    font-size: 0.6vw;
    border: 2px solid black;
    width: 80vw;
    height: 45vw;
    float: left;
}
#neweditor #container{
    width: 96vw;
    height: 45vw;
    margin: 0 auto;
}

#neweditor #right aside{
    position: absolute;
    top: 0px;
}

#neweditor #right{
    position: relative;
    text-align: left;
    padding: 15% 1%;
    float: left;
    height: 45vw;
    width: 8vw;
}
#neweditor #left{
    text-align: right;
    padding: 15% 1%;
    height: 45vw;
    float: left;
    width: 8vw;
}
#neweditor #up{
    text-align: center;
    height: 60px;
    width: 100%;
}
#neweditor #down{
    text-align: center;
    clear: both;
    height: 60px;
    width: 100%;
}

#neweditor .arrow{
    font-size: 3em;
    display: block;
}

#show-timeline{
    position: fixed;
    right: 0px;
    bottom: 0px;
    font-size: 3em;
    z-index: 100;
}
#neweditor footer{
    background-color: white;
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: block;
    overflow-x: auto;
    white-space: nowrap;

}
#newtimeline{
    height: 40%;
}
#newtimeline > li, #newtimeline > li > ol > li{
    display: table-cell;
    position: relative;
}
#neweditor #newtimeline article{
    font-size: 0.12vw;
    border: 1px solid black;
    width: 16vw;
    height: 9vw;
    margin: 0.1vw 0.4vw;
}

#up label{
    font-size: 2em;
    position: absolute;
    left: 2em;
}

.alternativ{
    padding: 0.5em 1em;
    margin: 0.1em 0.5em;
    border: 2px solid #0066bb;
    background: #aaccff;
}
.alternativ.right{
    float: right;
    clear: both;
}
.alternativ.left{
    float: left;
    clear: both;
}
#pairing-container{
    position:relative;
    width: 80%;
}
#pairing-container td{
    border-width: 0px;
}

svg path {
    stroke-width: 4;
    stroke: #0066bb;
}
