html, body{
    font-family: "Verdana", sans-serif;
    height: 100%;
}

h1{
    font-size: 3vw;
    font-weight: bold;
    text-align: center;
    padding: 4vh 0vw;
}

h2{
    font-size: 1.5vw;
    font-weight: bold;
    text-align: center;
}

h1 input{
    font-size: 3vw;
    width: 10em;
}

#editor{
    width: 100%;
    height: 80%;
    position: relative;
}
#add-slide {
    box-sizing: border-box;
    height: 100%;
    width: 15%;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 10% 0% 0% 3%;
    opacity:0;
}
#add-slide:hover{
    opacity:1;
    -webkit-transition: opacity .25s ease-in-out .0s;
    transition: opacity .25s ease-in-out .0s;
}

#add-slide h1{
    font-size: 1vw;
    vertical-align: middle;
    text-align: left;
}

#add-slide li{
    font-size: 1vw;
    padding: 5% 0px;
    color: #0066bb;
}

#add-slide li:hover {
    cursor: pointer;
    font-weight: bold;
}


#timeline {
    width: 100%;
    height: 20%;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}


#question{
    background-image: url('images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right bottom;
    background-size: contain;
}