<article class="analytics">
  <header>
    <h1>Analysverktyg</h1>
    <img src="images/logo.png"/>
  </header>
  <main>
    <table>
      <tr>
        <th>Lagnamn</th>
        <th ng-repeat="q in questions track by $index">{{q.title}}</th>
        <th></th>
      </tr>
      <tr ng-repeat="team in teams">
        <td><h2>{{team.name}}</h2></td>
        <td ng-repeat="q in questions track by $index">
          <answer answer="team.answers[$index]" view="q"></answer>
          <strong>Poäng: {{team.scores[$index]}}</strong>
        </td>
        <td>
          <strong>Summa: {{getTotalScore(team)}}</strong>
        </td>
      </tr>
    </table>
  </main>
</article>
