<article class="analytics">
  <header>
    <h1>Analysverktyg</h1>
    <img src="images/logo.png"/>
  </header>
  <main>
    <a class="btn" ng-class="{true: 'btn-primary', false: 'btn-danger'}[!showAnswers]" ng-click="showAnswers = !showAnswers">{{showAnswers ? 'Dölj svar' : 'Visa svar'}}</a>
    <a class="btn" ng-class="{true: 'btn-primary', false: 'btn-danger'}[!showScores]" ng-click="showScores = !showScores">{{showScores ? 'Dölj individuella poäng' : 'Visa individuella poäng'}}</a>
    <br>
    <table>
      <tr>
        <th>Lagnamn</th>
        <th ng-repeat="q in questions track by $index" ng-show="showAnswers || showScores">{{q.title}}</th>
        <th></th>
      </tr>
      <tr ng-repeat="team in teams">
        <td><h2>{{team.name}}</h2></td>
        <td ng-repeat="q in questions track by $index" ng-show="showAnswers || showScores">
          <answer answer="team.answers[$index]" view="q" ng-show="showAnswers"></answer>
          <strong ng-show="showScores">Poäng: {{team.scores[$index]}}</strong>
        </td>
        <td>
          <strong>Summa: {{getTotalScore(team)}}</strong>
        </td>
      </tr>
    </table>
  </main>
</article>
