<article class="answer">
  <header>
    <time ng-show="view.hasTimer">{{view.time*1000 | date:'mm:ss'}}</time>
    <h1 ng-show="view.state != 'end' && view.state != 'start'">{{view.number+1}}. {{view.title}}</h1>
    <img src="images/logo.png"/>
  </header>
  <img src="images/lock.png" id="lock" ng-show="timesUp && view.state != 'hints'"/>
  <main ng-show="view.state == 'start'">
    <h1>Dags för Teknikåttan!</h1>
    <h2>Stort lycka till {{team.name}}!</h2>
  </main>
  <main ng-show="view.state == 'end'">
    <h1>Tack för er medverkan!</h1>
  </main>
  <main ng-show="view.state == 'hints'">
    <ol>
      <li ng-repeat="x in [].constructor(view.numberOfHints) track by $index">
        <label>Ledtråd {{$index + 1}}: <input type="text" class="hintinput" ng-model="team.answers[view.number][$index]" style="width: 25em;" set-focus="$index == view.hints.length-1" ng-disabled="$index < view.hints.length-1 || (timesUp && $index == view.hints.length-1)" /></label>
      </li>
    </ol>
  </main>
  <main ng-show="view.state == 'statements'">
    <table id="truefalse">
      <tr>
        <td id="true" ng-click="!timesUp ? team.answers[view.number][view.statementIndex] = true : null" ng-class="{'marked': team.answers[view.number][view.statementIndex] === true}">Sant</td>
        <td id="false" ng-click="!timesUp ? team.answers[view.number][view.statementIndex] = false : null" ng-class="{'marked': team.answers[view.number][view.statementIndex] === false}">Falskt</td>
      </tr>
    </table>
  </main>
  <main ng-show="view.state == 'quiz'">
    <section>
      <label>Välj en av följande: </label><br /><br /><br />
      <label class="choice"><input type="radio" ng-model="team.answers[view.number][view.quizIndex]" value="A" ng-disabled="timesUp" /><span class="checkmark" ng-bind-html="'A. '+view.quiz[view.quizIndex].A"></span></label>
      <label class="choice"><input type="radio" ng-model="team.answers[view.number][view.quizIndex]" value="B" ng-disabled="timesUp" /><span class="checkmark" ng-bind-html="'B. '+view.quiz[view.quizIndex].B"></span></label>
      <label class="choice"><input type="radio" ng-model="team.answers[view.number][view.quizIndex]" value="C" ng-disabled="timesUp" /><span class="checkmark" ng-bind-html="'C. '+view.quiz[view.quizIndex].C"></span></label>
      <label class="choice"><input type="radio" ng-model="team.answers[view.number][view.quizIndex]" value="D" ng-disabled="timesUp" /><span class="checkmark" ng-bind-html="'D. '+view.quiz[view.quizIndex].D"></span></label>
    </section>
  </main>
  <main ng-show="view.state == 'question'">
    <div ng-show="view.answer.type == 'practical'">
      <p>Fråga utan svarsinmatning.</p>
    </div>
    <div ng-show="view.answer.type == 'multi'">
      <ol type='a'>
        <li ng-repeat="sq in view.answer.subQuestions track by $index" ng-show="sq.show[view.slideIndex]">
          <label ng-if="sq.type == 'text'">{{sq.label}} <input type="text" ng-model="team.answers[view.number][$index]" ng-disabled="timesUp && sq.show[view.slideIndex]" /></label>
          <label ng-if="sq.type == 'textarea'">{{sq.label}} <br><textarea ng-model="team.answers[view.number][$index]" ng-disabled="timesUp && sq.show[view.slideIndex]" style="height: 7em; width: 15em;"></textarea></label>
          <label ng-if="sq.type == 'number'">{{sq.label}} <input type="number" string-to-number ng-model="team.answers[view.number][$index]" ng-disabled="timesUp && sq.show[view.slideIndex]" style="width: 10em;" /></label>
          <section ng-if="sq.type == 'select'">
            <label>{{sq.label}} </label><br /><br /><br />
            <label class="choice" ng-repeat="alt in sq.alternatives track by $index">
              <input ng-if="!sq.multiple" type="radio" ng-model="team.answers[view.number][$parent.$parent.$index]" name="choice{{$parent.$parent.$index}}" ng-value="alt" ng-disabled="timesUp && sq.show[view.slideIndex]" />
              <input ng-if="sq.multiple" type="checkbox" ng-model="team.answers[view.number][$parent.$parent.$index]" multiple-choices name="choice{{$parent.$parent.$index}}" ng-value="alt" ng-disabled="timesUp && sq.show[view.slideIndex]" />
              <span class="checkmark" ng-bind-html="alt"></span>
            </label>
          </section>
        </li>
      </ol>
    </div>
    <div ng-show="view.answer.type == 'pairing'">
      <div id="pairing-wrapper">
	<svg></svg>
	<div class="content">
	  <ul id="left">
	    <li ng-repeat="alt in view.answer.pairs[0].alternatives">{{alt}}<div class="hook" ng-attr-id="{{alt}}"></div></li>
	  </ul>
	  <ul id="right">
	    <li ng-repeat="alt in view.answer.pairs[1].alternatives"><div class="hook" ng-attr-id="{{alt}}"></div>{{alt}}</li>
	  </ul>
	</div>
      </div>
    </div>
    <div ng-show="view.answer.type == 'ordering'">
      <div id="ordering-wrapper">
	<svg>
	  <rect width="100%" height="40%" fill="#bae5f9" />
	  <rect width="100%" height="60%" y="40%" fill="#b5e081" />
	  <image href="images/bushes.png" width="100%" height="35%" x="0%" y="25%" />
	  <image href="images/line.png" width="90%" height="35%" x="5%" y="20%" />
	</svg>
	<div class="content">
	  <ul>
	    <li ng-repeat="alt in view.answer.order.alternatives" ng-mousedown="dragMouseDown($event)" class="clothespin" ng-init="moveRandom()">{{alt}}</li>
	  </ul>
	</div>
      </div>
    </div>
  </main>
</article>
