<article class="audience" ng-controller="judgeCtrl">
  
  <h2>{{team.name}}</h2>
  <section ng-controller="audienceCtrl">
    <h2>Poäng fråga {{index()}}: {{team.scores[index() - 1]}}</h2>
    <h2>Total poäng: {{getTotalScore(team)}}</h2>
  </section>
  <main ng-show="currQuestion.type == 'hints'">
    <ol>
      <li ng-repeat="hint in currQuestion.hints track by $index">
        Ledtråd {{$index + 1}}: {{answer[$index]}}
      </li>
    </ol>
  </main>
  <main ng-show="currQuestion.type == 'truefalse'">
    <table id="truefalse">
      <tr>
        <td id="true" ng-show="answer[statementIndex] === true" ng-class="{'marked': answer[statementIndex] === true}">Sant</td>
        <td id="false" ng-show="answer[statementIndex] === false" ng-class="{'marked': answer[statementIndex] === false}">Falskt</td>
      </tr>
    </table>
  </main>
  <main ng-show="currQuestion.type == 'normal'">
    <div ng-show="currQuestion.answer.type == 'practical'">
      <p>Inget digitalt svar.</p>
    </div>
    <div ng-show="currQuestion.answer.type == 'multi'">
      <ol type='a'>
        <li ng-repeat="sq in currQuestion.answer.subQuestions track by $index">
          Delfråga {{$index + 1}}: <span ng-bind-html="answer[$index]"></span>
        </li>
      </ol>
    </div>
    <div ng-show="currQuestion.answer.type == 'pairing'">
      <p>Parar ihop ord med ord.</p>
    </div>
  </main>

</article>
