<section class="management">
  <h1>Tävlingsorter</h1>
  <table>
    <tr>
      <th>Ort</th>
      <th>Handling</th>
    </tr>
    <tr ng-repeat="city in cities">
      <td><input type="text" ng-model="city.name" ng-required ng-change="editCity(city)"></td>
      <td><a href="#" ng-click="removeCity(city)" ng-show="city.id != 0"><i class="fas fa-trash-alt"></i> Ta bort</a></td>
    </tr>
    <tr>
      <td><input type="text" ng-model="newCity" ng-required></td>
      <td><a href="#" ng-click="addCity()"><i class="fas fa-plus-circle"></i> Lägg till</a></td>
    </tr>
  </table>
  <a href="/">Tillbaka</a>
</section>
