<section class="management">
  <h1>Tävlingar</h1>
  <table>
    <tr>
      <th>Namn</th>
      <th>Ort</th>
      <th>Senast ändrad</th>
      <th>Handling</th>
    </tr>
    <tr ng-repeat="comp in competitions | orderBy : 'lastEdited' : true  track by comp.id" ng-click="changeView(comp.name)">
      <td>{{comp.name}}</td>
      <td>{{getCity(comp.city)}}</td>
      <td>{{comp.lastEdited | date:'yyyy-MM-dd HH:mm'}}</td>
      <td><a ng-click="cloneCompetition(comp)"><i class="far fa-copy"></i> Klona tävling</a> / <a ng-click="removeCompetition(comp)"><i class="fas fa-trash-alt"></i> Ta bort</a></td>
    </tr>
  </table>
  <a href="/">Tillbaka</a>
</section>
