<div id="editor">
  <section>
    <projector question="currQuestion" slide="currSlide" editable="currSlide?editOptions:false"></projector>
    <form>
      <h3>Frågetyp:</h3>
      <label><input type="radio" ng-disabled="!currSlide" ng-model="currQuestion.type" value="hints"> Ledtrådar</label><br>
      <label><input type="radio" ng-disabled="!currSlide" ng-model="currQuestion.type" value="truefalse"> Sant / Falskt</label><br>
      <label><input type="radio" ng-disabled="!currSlide" ng-model="currQuestion.type" value="normal"> Övriga</label><br>
      <button ng-show="currQuestion.type == 'normal'" ng-disabled="!currSlide" type="button" class="btn btn-default" ng-click="open()">Konfigurera svar</button>
      <button type="button" class="btn btn-default" ng-click="save()">Spara allt</button>
    </form>
    <competitor question="currQuestion" slide="currSlide" editable="currSlide?editOptions:false"></competitor>
  </section>
  
  <section id="add-slide">
    <h1>Lägg till: </h1>
    <ul>
      <li id="add-question" ng-click="addQuestion()">Ny fråga</li>
      <li id="add-info" ng-show="currSlide" ng-click="addSlide()">Extra slide</li>
      <li id="add-answer" ng-click="addSeparateSlide()" ng-show="false">Lös slide</li>
    </ul>
  </section>
</div>

<ol id="timeline">
  <li ng-repeat="q in questions">
    <ol>
      <li ng-repeat="s in q.slides">
        <i class="fas fa-trash-alt remove-slide" ng-click="removeSlide(q,s)"></i>
        <projector slide="s" question="q" state="'question'" ng-click="changeSlide(q,s)"></projector>
        <competitor slide="s" question="q" state="'question'" ng-click="changeSlide(q,s)"></competitor>
      </li>
    </ol>
  </li>
</ol>

