<article class="management">

  <section ng-if="isAuthenticated">
    <h1>Teknikåttan</h1>

    <ul>
      <li><a ng-href="competitions">Hantera tävlingar</a></li>
      <li><a ng-href="cities">Hantera orter</a></li>
      <li><a ng-href="users">Hantera användare</a></li>
      <li><a ng-click="logout()">Logga ut</a></li>
    </ul>

    <details style="width: 50%;">
      <summary>Secret token för inloggning:</summary>
      <pre>{{token}}</pre>
    </details> 
    
  </section>
  
  <section ng-if="!isAuthenticated">
    <h1>Logga in</h1>
    
    <p>För att använda systemet måste du logga in nedan.</p>

    <form method="post" ng-submit="login()">
      <label>Användarnamn: <input type="text" ng-model="data.username"></label><br>
      <label>Lösenord: <input type="password" ng-model="data.password"></label><br>
      <input type="submit" value="Logga in!">
    </form>
  </section>
  
</article>
