<article class="judge">
  <header>
    <h1 ng-show="view.state != 'end' && view.state != 'start'">{{view.number+1}}. {{view.title}}</h1>
    <img src="images/logo.png"/>
  </header>
  <h2 ng-show="timesUp">Tiden är ute!</h2>
  <div class="container">
    <div class="row">
      <div class="col-md-4" ng-repeat="team in teams">
        <h2>{{team.name}}</h2>
        <main ng-show="view.state == 'hints'">
          <ol>
            <li ng-repeat="x in team.answer track by $index">
              Ledtråd {{$index + 1}}: {{team.answer[$index]}}
            </li>
          </ol>
        </main>
        <main ng-show="view.state == 'statements'">
          <ol>
            <li ng-repeat="x in team.answer track by $index">
              Påstående {{$index + 1}}:
              <span id="true" ng-show="team.answer[$index] === true">Sant!</span>
              <span id="false" ng-show="team.answer[$index] === false">Falskt!</span>
            </li>
          </ol>
        </main>
        <main ng-show="view.state == 'quiz'">
          <ol>
            <li ng-repeat="q in view.quiz track by $index">
              Quizfråga {{$index + 1}}: {{team.answer[$index]}}
              <span id="true" ng-show="team.answer[$index] === q.correct">Rätt!</span>
              <span id="false" ng-show="team.answer[$index] !== q.correct">Fel!</span>
            </li>
          </ol>
        </main>
        <main ng-show="view.state == 'question'">
          <div ng-show="view.answer.type == 'practical'">
            <p>Inget digitalt svar.</p>
          </div>
          <div ng-show="view.answer.type == 'multi'">
            <ol type='a'>
              <li ng-repeat="sq in view.answer.subQuestions track by $index">
                Delfråga {{$index + 1}}: <span ng-bind-html="team.answer[$index]"></span>
              </li>
            </ol>
          </div>
          <div ng-show="currQuestion.answer.type == 'pairing'">
            <p>Parar ihop ord med ord.</p>
          </div>
        </main>
        <section>
          <p>
            <ol>
              <li ng-repeat="score in team.scores track by $index"><label>Poäng fråga {{$index+1}}: <input type="number" max="20" min="0" ng-model="team.scores[$index]" ng-change="saveScoring(team)"></label></li>
            </ol>
            <br />
            Alla poäng: {{team.scores}} <br />
            Total poäng: {{getTotalScore(team)}}
          </p>
        </section>
      </div>
    </div>
  </div>  
</article>

