<div id="neweditor">

  <form>
    <h3>Frågetyp:</h3>
    <label><input type="radio" ng-model="currQuestion.type" value="hints"> Ledtrådar</label>
    <label><input type="radio" ng-model="currQuestion.type" value="truefalse"> Sant / Falskt</label>
    <label><input type="radio" ng-model="currQuestion.type" value="quiz"> Quiz</label>
    <label><input type="radio" ng-model="currQuestion.type" value="normal"> Övriga</label>
    <button type="button" class="btn btn-default" ng-click="open()">Konfigurera svar</button>
    <button type="button" class="btn btn-default" ng-click="save()">Spara allt</button>
  </form>


  <nav id="up">
    <label ng-show="medium == 'projector'">Vy på projektorn: </label>
    <label ng-show="medium == 'competitor'">Vy i tävlandes bås: </label>
    <label ng-show="medium == 'answer'">Svarsslide: </label>
    <a ng-click="changeSlide(questionIndex, slideIndex, nextUp[medium])" ng-show="medium != 'projector'" class="arrow">&uarr;</a>
  </nav>
  <section id="container">
    <nav id="left">
      <a ng-click="slideIndex > 0 ? changeSlide(questionIndex, slideIndex-1, medium) :  changeSlide(questionIndex-1, questions[questionIndex-1].slides.length-1, medium)" ng-show="slideIndex > 0 || questionIndex > 0" class="arrow">&larr;</a>
      <!--
      <h2>Lägg till: </h2>
      <button type="button" class="btn btn-default" ng-click="addQuestion()">Ny fråga</button><br>
      <button type="button" class="btn btn-default" ng-click="addSlide()">Extra slide</button>
      -->
    </nav>
    
    <edit_projector slide="currSlide" question="currQuestion" editable="editOptions" ng-show="medium == 'projector'"></edit_projector>
    <edit_competitor slide="currSlide" question="currQuestion" editable="editOptions" ng-show="medium == 'competitor'"></edit_competitor>
    <edit_projector slide="'answer'" question="currQuestion" editable="editOptions" ng-show="medium == 'answer'"></edit_projector>
    
    <nav id="right">
      <aside>
        <label>HTML: <input type="checkbox" ng-model="showHTML"></label>
        <h3>Lägg till: </h3>
        <button type="button" class="btn btn-default" ng-click="addQuestion()">Ny fråga</button><br>
        <button type="button" class="btn btn-default" ng-click="addSlide()">Extra slide</button>
      </aside>
      <a ng-click="slideIndex < currQuestion.slides.length-1 ? changeSlide(questionIndex, slideIndex+1, medium) : changeSlide(questionIndex+1, 0, medium)" ng-show="slideIndex < currQuestion.slides.length-1 || questionIndex < questions.length-1" class="arrow">&rarr;</a>
    </nav>
  </section>
  <nav id="down">
    <label ng-show="medium =='competitor'">Visa svarsslide: <input type="checkbox" ng-model="currQuestion.answer.show" /></label><br>
    <a ng-click="changeSlide(questionIndex, slideIndex, nextDown[medium])" ng-show="!(medium == 'answer' || (medium == 'competitor' && !currQuestion.answer.show))" class="arrow">&darr;</a>
  </nav>

  
  <footer>
    <nav id="show-timeline">
      <a ng-click="showTimeline = !showTimeline"><i class="fas" ng-class="{'fa-arrow-up': !showTimeline, 'fa-arrow-down': showTimeline}"></i></a>
    </nav>

    <ol id="newtimeline" ng-show="showTimeline">
      <li ng-repeat="q in questions track by $index" ng-init="qIndex = $index">
        <ol>
          <li ng-repeat="s in q.slides track by $index" ng-init="sIndex = $index">
            <i class="fas fa-trash-alt remove-slide" ng-click="removeSlide(qIndex,sIndex)"></i>
            <edit_projector slide="s" question="q" editable="false" ng-click="changeSlide(qIndex,sIndex,'projector')"></edit_projector>
            <edit_competitor slide="s" question="q" editable="false" ng-click="changeSlide(qIndex,sIndex,'competitor')"></edit_competitor>
          </li>
        </ol>
      </li>
    </ol>
  </footer>
</div>

