<article class="management">
  <h1>Användare</h1>
  <table>
    <tr>
      <th>Namn</th>
      <th>Ort</th>
      <th>Handling</th>
    </tr>
    <tr ng-repeat="user in users">
      <td><input type="text" ng-model="user.name" ng-required ng-change="editUser(user)"></td>
      <td>
        <select ng-model="user.city" ng-required ng-change="editUser(user)">
          <option ng-repeat="city in cities" ng-value="city.id">{{city.name}}</option>
        </select>
      </td>
      <td><a ng-click="editPassword(user)"><i class="fas fa-user-edit"></i> Nytt lösenord</a> / <a ng-click="removeUser(user)"><i class="fas fa-user-minus"></i> Ta bort</a></td>
    </tr>
    <tr>
      <td><input type="text" ng-model="newName" ng-required></td>
      <td>
        <select ng-model="newCity" ng-required ng-init="newCity = 0">
          <option ng-repeat="city in cities" ng-value="city.id">{{city.name}}</option>
        </select>
      </td>
      <td><a ng-click="addUser()"><i class="fas fa-user-plus"></i> Lägg till</a></td>
    </tr>
  </table>
  <a href="/">Tillbaka</a>
</article>
