<div class="modal-header">
  <h3 class="modal-title" id="modal-title">Konfigurera svar</h3>
</div>
<div class="modal-body" id="modal-body">

  <label>
    Svarstyp:
    <select ng-model="answer.type">
      <option value="multi">Ett eller flera svar söks</option>
      <option value="practical">Praktisk uppgift (inget digitalt svar söks)</option>
      <option value="pairing">Para ihop svarsalternativ</option>
    </select>
  </label>
  <!-- Om flera delfrågor -->
  <section ng-show="answer.type == 'multi'">
    <ol>
      <li ng-repeat="sq in answer.subQuestions track by $index">
        <label>
          Svarstyp på delfråga {{$index + 1}})
          <select ng-model="answer.subQuestions[$index].type">
            <option value="text" selected="selected">Text</option>
            <option value="number">Numeriskt</option>
            <option value="select">Välj ett av flera alternativ</option>
          </select>
        </label>
        <label ng-show="answer.subQuestions[$index].type == 'select'">Tillåt flera samtidigt: <input type="checkbox" ng-model="answer.subQuestions[$index].multiple"></label>
        Visas på slide: <ol style="display: inline-block;"><li ng-repeat="slide in question.slides track by $index" style="float: left;"><label>{{$index}}. <input type="checkbox" ng-model="answer.subQuestions[$parent.$index].show[$index]" /></label></li></ol>
        <a ng-click="remove(answer.subQuestions, $index)" href="#">Ta bort</a><br>
        <ol ng-show="answer.subQuestions[$index].type == 'select'">
          <li ng-repeat="a in answer.subQuestions[$index].alternatives track by $index">
            <label>
              Alternativ {{$index + 1}}:
              <input type="text" ng-model="answer.subQuestions[$parent.$index].alternatives[$index]"/>
            </label>
            <a ng-click="remove(answer.subQuestions[$parent.$index].alternatives, $index)" href="#">Ta bort</a>
          </li>
          <li><a ng-click="add(answer.subQuestions[$index].alternatives)" href="#">Lägg till alternativ</a></li>
        </ol>
      </li>
      <li><a ng-click="add(answer.subQuestions, true, question.slides.length)" href="#">Lägg till delfråga</a></li>
    </ol>
  </section>


  <section ng-show="answer.type == 'pairing'">
    <table>
      <tr>
        <td>
          <ol>
            <li ng-repeat="p in answer.pairs[0] track by $index">
              <label>
                Alternativ {{$index + 1}}:
                <input type="text" ng-model="answer.pairs[0][$index]"/>
              </label>
              <a ng-click="remove(answer.pairs[0], $index)" href="#">Ta bort</a>
            </li>
            <li><a ng-click="add(answer.pairs[0])" href="#">Lägg till alternativ</a></li>
          </ol>
        </td>
        <td>
          <ol>
            <li ng-repeat="p in answer.pairs[1] track by $index">
              <label>
                Alternativ {{$index + 1}}:
                <input type="text" ng-model="answer.pairs[1][$index]"/>
              </label>
              <a ng-click="remove(answer.pairs[1], $index)" href="#">Ta bort</a>
            </li>
            <li><a ng-click="add(answer.pairs[1])" href="#">Lägg till alternativ</a></li>
          </ol>
        </td>
      </tr>
    </table>
  </section>

  <br>
  <label>Visa svarsslide: <input type="checkbox" ng-model="answer.show" /></label>
  
  <section ng-show="answer.show">
    <textarea ng-model="answer.text"></textarea>
  </section>
  
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="ok()">Stäng</button>
</div>
