<div class="modal-header">
  <h3 class="modal-title" id="modal-title">Konfigurera svar</h3>
</div>
<div class="modal-body" id="modal-body" ng-show="question.type == 'hints'">
  <ol>
    <li ng-repeat="hint in question.hints track by $index">
      <label>Ledtråd {{$index + 1}}: <input type="text" ng-model="question.hints[$index]" style="width: 25em;" /></label>
      <a ng-click="removeHint($index)">Ta bort</a>
    </li>
    <li><a ng-click="addHint()">Lägg till ledtråd</a></li>
  </ol>
</div>
<div class="modal-body" id="modal-body" ng-show="question.type == 'truefalse'">
  <ol>
    <li ng-repeat="statement in question.statements track by $index">
      <label>Påstående {{$index + 1}}: <input type="text" ng-model="question.statements[$index]" style="width: 25em;" /></label>
      <a ng-click="removeStatement($index)">Ta bort</a>
    </li>
    <li><a ng-click="addStatement()">Lägg till påstående</a></li>
  </ol>
</div>
<div class="modal-body" id="modal-body" ng-show="question.type == 'quiz'">
  <ol>
    <li ng-repeat="quiz in question.quiz track by $index">
      <label>Quizfråga {{$index + 1}}: <input type="text" ng-model="question.quiz[$index].question" style="width: 25em;" /></label>
      <label>A: <input type="radio" ng-model="question.quiz[$index].correct" value="A"><input type="text" ng-model="question.quiz[$index].A" style="width: 22em;" /></label>
      <label>B: <input type="radio" ng-model="question.quiz[$index].correct" value="B"><input type="text" ng-model="question.quiz[$index].B" style="width: 22em;" /></label><br>
      <label>C: <input type="radio" ng-model="question.quiz[$index].correct" value="C"><input type="text" ng-model="question.quiz[$index].C" style="width: 22em;" /></label>
      <label>D: <input type="radio" ng-model="question.quiz[$index].correct" value="D"><input type="text" ng-model="question.quiz[$index].D" style="width: 22em;" /></label><br>
      <a ng-click="removeQuiz($index)">Ta bort</a>
    </li>
    <li><a ng-click="addQuiz()">Lägg till quizfråga</a></li>
  </ol>
</div>
<div class="modal-body" id="modal-body" ng-show="question.type == 'normal'">

  <label>
    Svarstyp:
    <select ng-model="answer.type">
      <option value="multi">Ett eller flera svar söks</option>
      <option value="practical">Praktisk uppgift (inget digitalt svar söks)</option>
      <option value="pairing">Para ihop svarsalternativ</option>
    </select>
  </label>
  <!-- Om flera delfrågor -->
  <section ng-show="answer.type == 'multi'">
    <ol>
      <li ng-repeat="sq in answer.subQuestions track by $index">
        Delfråga {{$index + 1}}: <br>
        <label>Text: <input type="text" ng-model="answer.subQuestions[$index].label"></label>
        <label>Typ:
          <select ng-model="answer.subQuestions[$index].type">
            <option value="text" selected="selected">Text</option>
            <option value="textarea">Stort textfält</option>
            <option value="number">Numeriskt</option>
            <option value="select">Välj ett av flera alternativ</option>
          </select>
        </label>
        <label ng-show="answer.subQuestions[$index].type == 'select'">Tillåt flera samtidigt: <input type="checkbox" ng-model="answer.subQuestions[$index].multiple"></label>
        Visas på slide: <ol style="display: inline-block;"><li ng-repeat="slide in question.slides track by $index" style="float: left;"><label>{{$index}}. <input type="checkbox" ng-model="answer.subQuestions[$parent.$index].show[$index]" /></label></li></ol>
        <a ng-click="remove(answer.subQuestions, $index)">Ta bort</a><br>
        <ol ng-show="answer.subQuestions[$index].type == 'select'">
          <li ng-repeat="a in answer.subQuestions[$index].alternatives track by $index">
            <label>
              Alternativ {{$index + 1}}:
              <input type="text" ng-model="answer.subQuestions[$parent.$index].alternatives[$index]"/>
            </label>
            <a ng-click="remove(answer.subQuestions[$parent.$index].alternatives, $index)">Ta bort</a>
          </li>
          <li><a ng-click="add(answer.subQuestions[$index].alternatives)">Lägg till alternativ</a></li>
        </ol>
      </li>
      <li><a ng-click="add(answer.subQuestions, true, question.slides.length)">Lägg till delfråga</a></li>
    </ol>
  </section>


  <section ng-show="answer.type == 'pairing'">
    <table>
      <tr>
        <td>
          <ol>
            <li ng-repeat="p in answer.pairs[0] track by $index">
              <label>
                Alternativ {{$index + 1}}:
                <input type="text" ng-model="answer.pairs[0][$index]"/>
              </label>
              <a ng-click="remove(answer.pairs[0], $index)">Ta bort</a>
            </li>
            <li><a ng-click="add(answer.pairs[0])">Lägg till alternativ</a></li>
          </ol>
        </td>
        <td>
          <ol>
            <li ng-repeat="p in answer.pairs[1] track by $index">
              <label>
                Alternativ {{$index + 1}}:
                <input type="text" ng-model="answer.pairs[1][$index]"/>
              </label>
              <a ng-click="remove(answer.pairs[1], $index)">Ta bort</a>
            </li>
            <li><a ng-click="add(answer.pairs[1])">Lägg till alternativ</a></li>
          </ol>
        </td>
      </tr>
    </table>
  </section>

  
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="ok()">Stäng</button>
</div>
