<article class="competitor">
  <header>
    <img src="images/logo.png" />
    <h1>{{slide.index}}. {{slide.title}}</h1>
  </header>
  <main>
    <img src="{{slide.image}}" />
    <div ng-if="tinymceOptions" ui-tinymce="tinymceOptions" ng-model="slide.textLeft"></div>
    <div ng-if="!tinymceOptions" ng-bind-html="slide.textLeft"></div>
  </main>
  <aside ng-if="tinymceOptions" ui-tinymce="tinymceOptions" ng-model="slide.textRight"></aside>
  <aside ng-if="!tinymceOptions" ng-bind-html="slide.textRight"></aside>
  <footer>
    <time ng-class="{'hidden': !slide.hasTimer}">{{slide.time*1000 | date:'mm:ss'}}</time>
    <section>
      <label>Tid:</label> {{slide.timeText}}<br>
      <label>Poäng:</label> {{slide.scoringText}}<br>
      <label>Maxpoäng:</label> {{slide.maxScoringText}}<br>
    </section>
  </footer>
</article>
