<article class="competitor">
  <header>
    <h1 ng-click="editable ? edit='title': null">{{question.index}}. <input type="text" ng-show="edit=='title'" ng-model="question.title" /><span ng-show="edit!='title'">{{question.title}}</span></h1>
    <img src="images/logo.png"/>
  </header>
  <main>
    <form ng-if="editable" ng-controller="UploadCtrl" name="form">
      <img ng-src="{{question.image}}" ngf-select="upload($file)" ngf-pattern="'image/*'"
           ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-width="400"
           ngf-resize-if="$width > 800 || $height > 800"
           ngf-resize="{width: 400}" class="titleimage" />
    </form>
    <img ng-if="!editable" ng-src="{{question.image}}" class="titleimage" />
    <div ng-if="editable" ui-tinymce="editable" ng-model="slide.textLeft"></div>
    <div ng-if="!editable" ng-bind-html="slide.textLeft"></div>
  </main>
  <aside ng-if="editable" ui-tinymce="editable" ng-model="slide.textRight"></aside>
  <aside ng-if="!editable" ng-bind-html="slide.textRight"></aside>
  <footer>
    <time ng-click="editable ? edit='timer' : null" ng-show="edit!='timer'">{{slide.time*1000 | date:'mm:ss'}}</time>
    <section ng-show="edit=='timer'">
      <label>Aktivera timer: <input type="checkbox" ng-model="slide.hasTimer"></label><br>
      <label ng-show="slide.hasTimer">Tid innan svarsskärmen låses: <input type="number" ng-model="slide.time" min="0" max="3599"></label>
    </section>
    <ul>
      <li ng-click="editable ? edit='time' : null"><label>Tid:</label> <input type="text" ng-show="edit=='time'" ng-model="question.timeText" /><span ng-show="edit!='time'">{{question.timeText}}</span></li>
      <li ng-click="editable ? edit='scoring' : null"><label>Poäng:</label> <input type="text" ng-show="edit=='scoring'" ng-model="question.scoringText" /><span ng-show="edit!='scoring'">{{question.scoringText}}</span></li>
      <li ng-click="editable ? edit='maxscoring' : null"><label>Maxpoäng:</label> <input type="text" ng-show="edit=='maxscoring'" ng-model="question.maxScoringText" /><span ng-show="edit!='maxscoring'">{{question.maxScoringText}}</span></li>
    </ul>
  </footer>
</article>
