<article class="competitor" ng-controller="UploadCtrl">
  <img ng-if="editable" ng-src="{{question.image}}" ngf-select="upload($file)" ngf-pattern="'image/*'"
       ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-width="400"
       ngf-resize-if="$width > 1200 || $height > 1200"
       ngf-resize="{width: 1200}" />
  <img ng-if="!editable" ng-src="{{question.image}}" />
  <header>
    <h1 ng-click="editable ? edit='title' : null">
      FRÅGA {{$parent.$parent.index(question)}}:<br>
      <input type="text" ng-show="edit=='title'" ng-model="question.title" ng-blur="edit='none'" />
      <span ng-show="edit!='title'">{{question.title}}</span>
    </h1>
  </header>
  <main>
    <div ng-if="$parent.$parent.showHTML && editable"><textarea ng-model="slide.textLeft" style="width: 100%; height: 100%;"></textarea></div>
    <div ng-if="!$parent.$parent.showHTML && editable" ui-tinymce="editable" ng-model="slide.textLeft"></div>
    <div ng-if="!editable" ng-bind-html="slide.textLeft"></div>
  </main>
  <aside ng-if="$parent.$parent.showHTML && editable && question.type == 'normal'"><textarea ng-model="slide.textRight" style="width: 100%; height: 100%;"></textarea></aside>
  <aside ng-if="!$parent.$parent.showHTML && editable && question.type == 'normal'" ui-tinymce="editable" ng-model="slide.textRight"></aside>
  <aside ng-if="!editable && question.type == 'normal'" ng-bind-html="slide.textRight"></aside>
  <footer>
    <input ng-show="editable" type="checkbox" ng-model="slide.hasTimer" />
    <time ng-show="slide.hasTimer && edit!='timer'" ng-click="editable ? edit='timer' : null">{{slide.time*1000 | date:'mm:ss'}}</time>
    <time ng-show="slide.hasTimer && edit=='timer'"><input type="number" ng-model="slide.time" min="0" max="3599" ng-blur="edit='none'"></time>
    <ul>
      <li ng-click="editable ? edit='time' : null">
        <label>Tid:</label>
        <input type="text" ng-show="edit=='time'" ng-model="question.timeText" ng-blur="edit='none'" /><span ng-show="edit!='time'">{{question.timeText}}</span>
      </li>
      <li ng-click="editable ? edit='scoring' : null">
        <label>Poäng:</label>
        <input type="text" ng-show="edit=='scoring'" ng-model="question.scoringText" ng-blur="edit='none'" /><span ng-show="edit!='scoring'">{{question.scoringText}}</span>
      </li>
      <li ng-click="editable ? edit='maxscoring' : null">
        <label>Maxpoäng:</label>
        <input type="text" ng-show="edit=='maxscoring'" ng-model="question.maxScoringText" ng-blur="edit='none'" /><span ng-show="edit!='maxscoring'">{{question.maxScoringText}}</span>
      </li>
    </ul>
  </footer>
</article>
