<section>
  <h1>Lägg till informationsslide:</h1>

  
  <article class="projector">
    <header>
      <img src="images/logo.png" />
      <h1>{{title}}</h1>
    </header>
    <figure><img src="https://images.pexels.com/photos/36744/agriculture-arable-clouds-countryside.jpg?auto=compress&cs=tinysrgb&h=350"/></figure>

    <main ui-tinymce="tinymceOptions" ng-model="textProjector"></main>
    <footer>
      <time ng-class="{'hidden': !hasTimer}">{{time*1000 | date:'mm:ss'}}</time>
      <section>
        <label>Tid:</label> {{timeText}}<br>
        <label>Poäng:</label> {{scoringText}}<br>
        <label>Maxpoäng:</label> {{maxScoringText}}<br>
      </section>
    </footer>
  </article>


  <article class="competitor">
    <header>
      <img src="images/logo.png" />
      <h1>{{title}}</h1>
    </header>
    <main>
      <img src="https://images.pexels.com/photos/36744/agriculture-arable-clouds-countryside.jpg?auto=compress&cs=tinysrgb&h=350" />
      <div ui-tinymce="tinymceOptions" ng-model="textLeft"></div>
    </main>
    <aside ui-tinymce="tinymceOptions" ng-model="textRight"></aside>
    <footer>
      <time ng-class="{'hidden': !hasTimer}">{{time*1000 | date:'mm:ss'}}</time>
      <section>
        <label>Tid:</label> {{timeText}}<br>
        <label>Poäng:</label> {{scoringText}}<br>
        <label>Maxpoäng:</label> {{maxScoringText}}<br>
      </section>
    </footer>
  </article>


 
  
  <p style="clear: both;">
    <label>Ska ha nedräkning: <input type="checkbox" ng-model="hasTimer"></label><br>
    <label ng-show="hasTimer">Tid innan svarsskärmen låses: <input type="number" ng-model="time">sekunder</label>
  </p>
</section>



<section id="add-slide">
  <h1>Lägg till en ny: </h1>
  <ul>
    <li id="add-question"><i class="fas fa-plus-circle"></i> Fråga</li>
    <li id="add-info"><i class="fas fa-plus-circle"></i> Informationsslide</li>
    <li id="add-answer"><i class="fas fa-plus-circle"></i> Svarsslide (rätt svar)</li>
  </ul>
</section>
