<article class="projector">
  <figure ng-controller="UploadCtrl">
    <img ng-if="editable" ng-src="{{question.image}}" ngf-select="upload($file)" ngf-pattern="'image/*'"
         ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-width="400"
         ngf-resize-if="$width > 1200 || $height > 1200"
         ngf-resize="{width: 1200}" />
    <img ng-if="!editable" ng-src="{{question.image}}" />
  </figure>
  <header>
    <h1 ng-click="editable ? edit='title' : null">
      FRÅGA {{$parent.index(question)}}:<br>
      <input type="text" ng-show="edit=='title'" ng-model="question.title" ng-blur="edit='none'" />
      <span ng-show="edit!='title'">{{question.title}}</span>
    </h1>
  </header>
  <main>
    <div ng-if="$parent.showHTML && editable && slide == 'answer'"><textarea ng-model="question.answer.text" style="width: 75%; height: 100%;"></textarea></div>
    <div ng-if="!$parent.showHTML && editable && slide == 'answer'" ui-tinymce="editable" ng-model="question.answer.text"></div>
    <div ng-if="!editable && slide == 'answer'" ng-bind-html="question.answer.text"></div>
    <div ng-if="$parent.showHTML && editable && slide != 'answer'"><textarea ng-model="slide.textProjector" style="width: 75%; height: 100%;"></textarea></div>
    <div ng-if="!$parent.showHTML && editable && slide != 'answer'" ui-tinymce="editable" ng-model="slide.textProjector"></div>
    <div ng-if="!editable && slide != 'answer'" ng-bind-html="slide.textProjector"></div>
  </main>
  <footer ng-show="slide != 'answer'">
    <input ng-show="editable" type="checkbox" ng-model="slide.hasTimer" />
    <time ng-show="slide.hasTimer && edit!='timer'" ng-click="editable ? edit='timer' : null">{{slide.time*1000 | date:'mm:ss'}}</time>
    <time ng-show="slide.hasTimer && edit=='timer'"><input type="number" ng-model="slide.time" min="0" max="3599" ng-blur="edit='none'"></time>
  </footer>
</article>

