<section>
<h1>Lägg till ny fråga:</h1>

<label>Frågebild: <input type="file" ng-model="imageFile"></label><br>
<label>Poäng: <input type="text" ng-model="scoringText"></label><br>
<label>Maxpoäng: <input type="text" ng-model="maxScoringText"></label><br>
<label>Tid (fritext-fält, själva tiden sätts på den slide som har nedräknare): <input type="text" ng-model="timeText"></label><br>

<label>
  Frågetyp:<br>
  <select ng-model="question_type">
    <option value="normal">Normal</option>
    <option value="hints">Ledtrådar</option><!-- Hide answer type -->
    <option value="truefalse">Sant / Falskt</option><!-- Hide answer type -->
  </select>
</label><br>


<label ng-show="question_type == 'hints'">Antal ledtrådar: <input type="number" ng-model="numHints" min="1" max="10"/></label>
<label ng-show="question_type == 'truefalse'">Antal sant/falskt - påståenden: <input type="number" ng-model="numTruefalse" min="1" max="10"/></label>

<ol ng-show="question_type == 'hints'">
  <li ng-repeat="a in range(numHints) track by $index"><label>Ledtråd {{$index + 1}}: <input type="text" ng-model="hint[$index]"/></label></li>
</ol>

<ol ng-show="question_type == 'truefalse'">
  <li ng-repeat="a in range(numTruefalse) track by $index"><label>Påstående {{$index + 1}}: <input type="text" ng-model="truefalse[$index]"/></label></li>
</ol>
</section>

<section ng-show="question_type == 'normal'">
  <label>
    Svarstyp:
    <select ng-model="answer_type">
      <option value="multi">En eller flera svar söks (under en och samma nedräkning)</option>
      <option value="practical">Praktisk uppgift (inget digitalt svar söks)</option>
      <option value="pairing">Para ihop svarsalternativ</option>
    </select>
  </label>

  <!-- Om flera delfrågor -->
  <section ng-show="answer_type == 'multi'">
    <label>Antal delfrågor: <input ng-model="numQuestions" type="number" min="1" max="20"/></label>
    <ol>
      <li ng-repeat="a in range(numQuestions) track by $index">
        <label>
          Svarstyp på delfråga {{$index + 1}})
          <select ng-model="answer_types[$index]">
            <option value="text" selected="selected">Text</option>
            <option value="number">Numeriskt</option>
            <option value="select">Välj ett (eller flera) av flera alternativ</option>
          </select>
        </label><br>
        <label ng-show="answer_types[$index] == 'select'">Antal alternativ: <input ng-model="numAlternatives" type="number" min="1" max="20"/></label>
        <ol ng-show="answer_types[$index] == 'select'">
          <li ng-repeat="a in range(numAlternatives) track by $index">
            <label>
              Alternativ {{$index + 1}}:
              <input type="text" ng-model="alternatives[$index]"/>
            </label>
          </li>
        </ol>
      </li>
    </ol>
  </section>




  <section ng-show="answer_type == 'pairing'">
    <table>
      <tr>
        <td>
          <label>Antal alternativ i första gruppen: <input ng-model="numPairsA" type="number" min="1" max="20"/></label>
          <ol>
            <li ng-repeat="a in range(numPairsA) track by $index">
              <label>
                Alternativ {{$index + 1}}:
                <input type="text" ng-model="pairs[0][$index]"/>
              </label>
            </li>
          </ol>
        </td>
        <td>
          <label>Antal alterantiv i andra gruppen: <input ng-model="numPairsB" type="number" min="1" max="20"/></label>
          <ol>
            <li ng-repeat="a in range(numPairsB) track by $index">
              <label>
                Alternativ {{$index + 1}}:
                <input type="text" ng-model="pairs[1][$index]"/>
              </label>
            </li>
          </ol>
        </td>
      </tr>
    </table>
  </section>

</section>



<section id="add-slide">
  <h1>Lägg till en ny: </h1>
  <ul>
    <li id="add-info"><i class="fas fa-plus-circle"></i> Informationsslide</li>
  </ul>
</section>


