<div class="modal-header">
  <h3 class="modal-title" id="modal-title">Konfigurera bild</h3>
</div>
<div class="modal-body" id="modal-body">

  <video controls ng-if="image.type == 'video'" style="max-width: 700px;">
    <source src="uploads/{{image.src}}" type="video/mp4"></source>
    Din webbläsare stödjer tyvärr inte videoklipp.
  </video>
  <img ng-if="image.type == 'image'" ng-src="uploads/{{image.src}}" alt="" style="max-width: 700px;">

  <br>
  <a class="btn btn-danger" ng-click="remove(image)">Radera bild</a><br>
  
  <h2 ng-show="!image.competitions.length">Används inte av någon tävling!</h2>
  <h2 ng-show="image.competitions.length">Används av följande tävlingar:</h2>
  <ul>
    <li ng-repeat="comp in image.competitions"><a ng-href="competition/{{comp._id}}">{{comp.name}}</a></li>
  </ul>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="ok()">Stäng</button>
</div>
