<article class="projector">
  <header>
    <h1>{{slide.index}}. {{slide.title}}</h1>
    <img src="images/logo.png" />
  </header>
  <figure><img src="{{slide.image}}"/></figure>
  <main>
    <div ng-if="editable" ui-tinymce="editable" ng-model="slide.textProjector"></div>
    <div ng-if="!editable" ng-bind-html="slide.textProjector"></div>
  </main>
  <footer>
    <time ng-class="{'hidden': !slide.hasTimer}">{{slide.time*1000 | date:'mm:ss'}}</time>
    <section>
      <label>Tid:</label> {{slide.timeText}}<br>
      <label>Poäng:</label> {{slide.scoringText}}<br>
      <label>Maxpoäng:</label> {{slide.maxScoringText}}<br>
    </section>
  </footer>
</article>
