<article class="projector">
  <header>
    <h1 ng-show="view.state != 'end' && view.state != 'start'">{{view.number+1}}. {{view.title}}</h1>
    <img src="images/logo.png"/>
  </header>
  <figure ng-show="view.state != 'end' && view.state != 'start'" ng-class="{'titleimage': view.state == 'image'}">
    <img img-preload ng-src="{{view.image}}" />
  </figure>
  <main>
    
    <div ng-if="view.state == 'question'" ng-bind-html="view.textProjector"></div>
    <div ng-show="view.state == 'start'"><h1>Välkomna till Teknikåttan</h1></div>
    <div ng-show="view.state == 'beforeanswer'">Rätt svar är ...</div>
    <div ng-if="view.state == 'answer'" ng-bind-html="view.answer.text"></div>
    <div ng-show="view.state == 'end'"><h1>Tack för er medverkan!</h1></div>
    <div ng-show="view.state == 'hints'">
      <ol>
        <li class="hint" ng-repeat="hint in view.hints track by $index">
          <span>Ledtråd {{$index + 1}}: {{hint}}</span>
        </li>
      </ol>
    </div>
    <div ng-show="view.state == 'statements'">
      <span class="statement" ng-bind-html="view.statement"></span>
    </div>
    <div ng-show="view.state == 'quiz'">
      <h2>{{view.quizIndex+1}}. {{view.quiz[view.quizIndex].question}}</h2>
      <ol>
        <li style="list-style-type: upper-alpha;">{{view.quiz[view.quizIndex].A}}</li>
        <li style="list-style-type: upper-alpha;">{{view.quiz[view.quizIndex].B}}</li>
        <li style="list-style-type: upper-alpha;">{{view.quiz[view.quizIndex].C}}</li>
        <li style="list-style-type: upper-alpha;">{{view.quiz[view.quizIndex].D}}</li>
      </ol>
    </div>
  </main>
  <footer ng-show="view.state != 'end' && view.state != 'image' && view.state != 'start'">
    <time ng-show="view.hasTimer">{{view.time*1000 | date:'mm:ss'}}</time>
  </footer>
</article>
